Source: medulla-filetree-generator
Section: python
Architecture: all
Priority: optional
Maintainer: Nicolas Lécureuil <nicolas.lecureuil@siveo.net>
Uploaders: Nicolas Lécureuil <nicolas.lecureuil@siveo.net>
Build-Depends: debhelper (>= 9),
               dh-python,
               python3-all, python3-setuptools, 
               git, sudo 
Standards-Version: 3.9.8
Homepage: http://cyberelk.net/tim/software/pycups/
Vcs-Git: https://anonscm.debian.org/git/python-modules/packages/python-cups.git
Vcs-Browser: https://anonscm.debian.org/cgit/python-modules/packages/python-cups.git
X-Python-Version: >= 2.7

Package: pulse-filetree-generator
Architecture: all
Provides: ${python:Provides}
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Description: pulse-filetree-generator
